html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0.5fr;
    font-family: 'Romantiques', sans-serif;
    background-image: url(circus-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    font-size: xx-large;
    text-align: center;
}